html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #07285F;
    font-family: Arial, sans-serif;
}


header {
    width: 100%;
    background-color: #7c7c7c; 
    padding: 20px 0;
}

header .logo-container {
    max-width: 100px;
    max-height: 100px;
}

header .name h1 {
    color: white;
    font-size: 2rem;
    margin: 0;
}


.header__nav {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFFFFF; 
}

.head__list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.head__item a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

/* Мобильная версия */
@media screen and (max-width: 768px) {
    .header__top {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-wrap: nowrap;
    }

    .name {
        text-align: center;
        margin-top: 0;
    }

    .logo-container {
        position: static;
        margin-right: 20px;
    }

    .header__nav {
        position: static;
        margin-top: 20px;
        text-align: center;
        background-color: #FFFFFF; 
        padding: 10px;
        border-radius: 5px;
    }

    .head__list {
        flex-direction: column;
        gap: 15px;
        padding: 0;
    }

    .head__item a {
        font-size: 18px;
    }
}


main {
    background-color: #3CD0FA; 
    padding: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td, th {
    border: 2px solid black;
    padding: 10px;
    font-size: 18px;
}

th {
    background-color: white;
}

td:nth-child(odd) {
    background-color: #1FD5E6; 
    color: #5F310D;
}

td:nth-child(even) {
    background-color: #3704E1; 
    color: #1CE823;
}


input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #7c7c7c; 
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: rgb(255, 151, 210); 
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
}
